*
	padding 0
	margin 0
	font-family sans-serif

html, body
	width 100%
	height 100%

body
	display flex
	flex-flow column

#searchbar
	flex-shrink 1
	border 2px solid transparent
	padding 7px
	width 100%
	box-sizing border-box
	transition border-color .2s
	&:hover
		border-color #2FACF9

#tabs
	flex-grow 1
	overflow-y auto

.tabs-item
	display flex
	flex-flow row nowrap
	width 100%
	transition background-color .2s
	&:hover, &[data-selected='selected']
		background-color #ddd
	.favicon
		height 32px
		max-width 32px
		flex-shrink 1
		vertical-align top
		padding: 0px 6px
		margin-top 8px
	.details
		flex-grow 1
		vertical-align top
		margin 8px
	.url
		font-size 10pt
		color #777
		line-height 1.5
		max-height 15pt
		overflow hidden
		word-break break-all
	.title
		font-size 12pt
		line-height 1.5
		max-height 18pt
		overflow hidden
		word-break break-all
	.close
		flex-shrink 1
		font-size 20pt
		font-weight bold
		border 0
		background-color transparent
		color white
		padding 0px 15px
		transition background-color .2s
		&:hover
			background-color #c66
